@import '../../master';
@media screen and (min-width:300px){
    .container-data-perfil{
        width: 230px;
        margin: auto;
    }    

    .container-image-perfil{
        display: flex;
        justify-content: center;
        margin-top: 11px;
    }
    .container-details{
        text-align: center;
        border-radius: $border-radius;
        border-style: inset;
        background: rgb(226,226,226);
        background: radial-gradient(circle, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 100%);
    }

    .details{
        word-break: break-all;
    }
}
@media screen and (min-width:350px){
    .container-data-perfil{
        width: 250px;
    }
}
@media screen and (min-width:400px){
        .container-data-perfil{
        width: 300px;
    }
}