@import '../../master';
@media screen and (min-width:300px){
    .container-index{
        height: 85vh;
        display: flex;
        justify-content: center;
        padding-top: 5vh;
    }
    .container-page-index{
        height: 100vh;
        width: 100vw;
        background: $color-pages;
        background: $color-pages-linear-gradient;
    }
    .container-users{
        width: 80vw;
        height: 80vh;
        background: $background-container;
        box-shadow: $box-shadow-container;
        border-radius: $border-radius;
        overflow: hidden;
    }
    .container-scroll{
        display: flex;
        flex-wrap: wrap;       
        justify-content: center; 
        height: 70vh;
        width: 80vw;
        padding-right: 3vw;
        overflow-y: scroll;

    }
    .link-user-show{
        text-decoration: none;
    }
    .link-user-show:visited{
        border-style: none;
    }
}