@import '../../master';
@media screen and (min-width:300px){
    .comments{
        margin-top: 20px;
        width: 230px;
        height: max-content;
        padding: 5px;
        border-radius: 8px;
        border-style: outset;
        background: rgb(226,226,226);
        background: radial-gradient(circle, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 100%);
    }
    .container-date-user-comments,.container-data-user-full-name{
        display: flex;
    }
    .container-date-user-comments{
        justify-content: center;
    }
    .container-data-user-full-name,.container-email,.container-text-comment{
        word-break: break-all
    }
    .container-data-user-full-name{
        align-items: center;
    }
    .image-user-comments{
        width: 40px;
        border-radius: 20px;
    }
}
@media screen and (min-width:600px){
    .comments{
        margin-right: 10px;
    }
}